<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BoardUpdateForm</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <form th:action="@{/board/update/}+@{${board.id}}" method="POST">
        <table>
            <tr>
                <td>
                    <label name="title">Title</label>
                </td>
                <th>
                    <input type="text" name="title" id="title" th:value="${board.title}">
                </th>
            </tr>
            <tr>
                <td>
                    <label>작성자</label>
                </td>
                <th>
                    <span th:text="${session.userid}">작성자</span>
                </th>
            </tr>
            <tr>
                <td>
                    <label>작성일</label>
                </td>
                <th>
                    <p th:text="${board.date}">작성일</p>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <textarea name="text" cols="30" rows="15" th:text="${board.text}"></textarea>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="button" value="취소" th:onclick="'location.href=\'/'+@{board/}+@{${board.id}}+'\''">
                    <input type="submit" value="수정">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>